body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #230303;
}

.Container {
  border: 1px solid black;
  text-align: center;
  padding: 60px;
  border-radius: 20px;
  background-color: beige;
}

.form-text {
  padding: 15px;
  font-size: 0.8rem;
}

.form-label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-3 {
  padding: 7px;
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
}